{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="pagesec">
        <h1>상세 정보</h1>
        <div style="display:flex; justify-content: space-around; margin-top:5vh;">
            <table>
                <tr>
                    <th>사진</th>
                    <td><img src="{% static 'images/intro.jpg'%}" alt="증명사진" class="face"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>박상준</td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td>2000년 4월 14일</td>
                </tr>
                <tr>
                    <th>출생지</th>
                    <td>경기도 군포시</td>
                </tr>
                <tr>
                    <th>학교</th>
                    <td>광정초등학교<br>
                        산본중학교<br>
                        용호고등학교<br>
                        동국대학교 정보통신공학전공(주전공)<br>
                        데이터사이언스 소프트웨어(연계전공)</td>
                </tr>
            </table>
            <div style="display:flex; flex-direction: column; ">
                <h4 style="position:relative; left:-5vh;">URLS</h4>
                <br>
                    <a style="color:tomato;" href="https://stujune-to-devjune.tistory.com/" target="_blank">Tistory</a>
                    <a style="color:tomato;" href="https://github.com/tkdwns414" target="_blank">Github</a>
                    <a style="color:tomato;" href="https://www.instagram.com/sjpxxsj/?hl=ko" target="_blank">Instagram</a>
                <br>
                <h4 style="position:relative; left:-5vh;">How to contact</h4>
                <br>
                    <h6 style="position:relative; left:-2vh;">Emails</h6>
                    <span>sangjune2000@naver.com</span>
                    <span>sangjune2000@dogguk.edu</span>
                <br>
                    <h6 style="position:relative; left:-2vh;">Phone num</h6>
                    <span>010-6289-0164</span>

            </div>
        </div>

    </section>
    
{% endblock %}