<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>자기소개</h1>
        <div class="forfun"> <a href="http://www.dgulion.com/" target="_blank">🦁</a></div>
    </header>
    <table>
        <tr>
            <th>사진</th>
            <td><img src="https://raw.githubusercontent.com/SJ-stk/sns-project/main/sns_project/main/templates/main/%EC%86%8C%EA%B0%9C%20%EC%82%AC%EC%A7%84.jpg" alt="증명사진" class="face"></td>
        </tr>
        <tr>
            <th>이름</th>
            <td>박상준</td>
        </tr>
        <tr>
            <th>나이</th>
            <td>22세 (2000.04.14 ~)</td>
        </tr>
        <tr>
            <th>블로그 주소</th>
            <td><a href="https://stujune-to-devjune.tistory.com/" target="_blank">Tistory</a></td>
        </tr>
        <tr>
            <th>깃허브 주소</th>
            <td><a href="https://github.com/SJ-stk?tab=repositories" target="_blank">Github</a></td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>sangjune2000@naver.com</td>
        </tr>
        <tr>
            <th>출생지</th>
            <td>경기도 군포시</td>
        </tr>
    </table>

</body>
</html>