{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="pagesec" style="margin:3vh 15vh;">
    <h2 style="display:inline;">Profile</h2>
    <a href="{%url 'main:introduce'%}">more detail</a><br><br>

    <h5>Name: 박상준 (ParkSangJune)</h5>

    <h5>Major:</h5>
    <ul>
        <li>Information Communication Enginerring</li>
        <li>DataScience Software</li>
    </ul>

    <h2>Tech stack</h2>

    <details>
        <summary><h4 style="display:inline;">Langauge</h4></summary>
        <ul>
            <li>JAVA</li>
            <li>Python</li>
            <li>C lang</li>
        </ul>
    </details>
    
    <details>
        <summary><h4 style="display:inline;">Frameworks</h4></summary>
        <ul>
            <li>Django</li>
            <li>Spring Boot</li>
        </ul>
    </details>
    
    <details>
        <summary><h4 style="display:inline;">Others</h4></summary>
        <ul>
            <li>Git & Github</li>
            <li>AWS, RDS</li>
        </ul>
    </details>

    <br>
    <h5><a href="{% static 'files/resume.pdf'%}" target="_blank">박상준 이력서(클릭 시 이동)</a></h5>
    <h6>2021.08.26 에 산업기능요원 시작하여 2022.02.26(최소 기간 6개월)부터 편입 가능</h6>
    <h6>현재 산업 기능 요원 전직(편입) 할 회사 구하는 중입니다</h6>

    <br>
    <h2>Projects</h2>

    {%for post in posts%}
        {%if post.writer.is_superuser%}
            <a href="{%url 'main:detail' post.id%}">
                <div class="home_div1">
                    <div class="home_div2">
                        {%if post.image%}
                            <img src="{{ post.image.url }}" alt="프로젝트 이미지" style="width:100%; padding:3%;">
                        {%else%}
                            <img src="{% static 'images/default.jpg'%}" style="width:100%; padding:3%;">
                        {%endif%}
                    </div>
                    <br>
                    <h4 style="text-align: center;">{{post.title}}</h4>
                </div>
            </a>
        {%endif%}
    {%endfor%}
    
</section>
{% endblock %}