{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="pagesec">
	<form action="{%url 'main:create'%}" method="post" enctype="multipart/form-data">
		{%csrf_token%}
		<p>제목 : <input type="text" name="title"></p>
		<p>요약 : <input type="text" name="summary" maxlength="25"></p>
		<p>사진 : <input type="file" name="image"></p>
		<p>내용 : <textarea type="text" name="body" id="" cols="90" rows="10"></textarea></p>
		<button type="submit">제출</button>
	</form>	
</section>

{% endblock %}
